# mbti_data ë§Œë“¤ê¸°

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/ê¸ì •ì¼ê¸°.csv')  
df1 = pd.read_csv('../datasets/ì‹ ë³€ì¡ê¸°_2.csv')
df2 = pd.read_csv('../datasets/ìœ í˜•ê°ë³„.csv')
df3 = pd.read_csv('../datasets/url_set.csv')

In [3]:
df.head()

,seq,title,writer,content
0,1,ì¼ê¸°) ì£¼ë ¤ë˜ ê±´ ì•„ë‹ˆì—ˆëŠ”ë°,ì‹ ì´Œì‚¬ê³¼ì•”ì‚´ìenfj,ì—¬ìì¹œêµ¬ë„ ì‚¬ê·€ëŠ”ë°... í•œ ë²ˆë„ ë°›ì•„ë³´ì§€ ëª»í•œ ì‚¬ëŒì´ ë˜ê²Œ í•˜ê¸°ëŠ” ë„ˆë¬´ ë„ˆë¬´ ì‹«ì—ˆ...
1,2,ë¶•ì–´ë¹µ ã…‹ã…‹,ê°•ì‹ 12,ì´ì œ ë¶•ì–´ë¹µì˜ ê³„ì ˆì´ ëŒì•„ì™”ë„¤ìš” ìš”ì¦˜ ë‚ ì”¨ê°€ ì •ë§ ì¶”ì›Œì§€ë”ë¼ê³ ìš” ì–´ì œë„ ì§„ì§œ ê¹œì§ ...
2,3,ë¹¼ë¹¼ë¡œ ë¨¹ëŠ”ë‚ ğŸ¤,ì†Œë¼ê²Œ ENFJ,ì˜¤ëŠ˜ì€ ë¹¼ë¹¼ë¡œë°ì´ë„¤ìš”! 11ì›” 11ì¼!ì €ëŠ” 11ì´ë¼ëŠ” ìˆ«ìê°€ ëª¨ì–‘ì´ ì´ë»ì„œ ì¢‹ì•„í•´ìš”...
3,4,ì•„ì¹¨ìœ¼ë¡œ ë¨¹ì„ ë§˜ëª¨ìŠ¤ë¹µì„ ì‚¬ì™”ì–´ìš”.ğŸ˜‹,ì˜ˆì‚¬ì†Œë…„enfp,ë§˜ëª¨ìŠ¤ê°€ ì¼ì°ë¶€í„° ë©¸ì¢…ëœ ì´ìœ ê°€ ìˆë‹¤.í‚¥í‚¥.ìƒˆë²½ë¶€í„° ë¶€ë¦¬ë‚˜ì¼€ ë‚˜ê°€ì„œ ë§˜ëª¨ìŠ¤ë¹µì„ ì‚¬ì™”...
4,5,ë¯¸ë¼í´ ëª¨ë‹ 8ì¼ì°¨.,RDFS INTJ,ì¢‹ì€ ì•„ì¹¨ì…ë‹ˆë‹¹ì‚¬ì‹¤ ìš”ì¦˜ ë¯¸ë¼í´ ëª¨ë‹ì´ ìµìˆ™í•´ì§„ íƒ“ì¸ì§€ ê°íšŒê°€ ê·¸ë¦¬ ìƒˆë¡­ì§€ê°€ ì•Šì•„ìš”...

In [4]:
df_pos = df.copy()     # 5847    # 5724 
df_catch = df1.copy()  # 9607   # 9239 
df_type = df2.copy()    #  5444   # 5210 
df_url = df3.copy()    # 11812    # 11394

In [5]:
df_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      5847 non-null   int64
 1   title    5847 non-null   object
 2   writer   5847 non-null   object
 3   content  5724 non-null   object
dtypes: int64(1), object(3)
memory usage: 182.8+ KB

In [6]:
df_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11812 entries, 0 to 11811
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      11812 non-null  int64
 1   title    11812 non-null  object
 2   writer   11812 non-null  object
 3   content  11394 non-null  object
dtypes: int64(1), object(3)
memory usage: 369.2+ KB

In [7]:
df_catch.drop(['Unnamed: 0'], axis=1, inplace=True)

### content nan ì œê±°

In [8]:
df_pos = df_pos .dropna(axis=0)

In [9]:
df_catch = df_catch .dropna(axis=0)

In [10]:
df_type  = df_type .dropna(axis=0)

In [11]:
df_url = df_url.dropna(axis=0)

In [12]:
df_pos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5724 entries, 0 to 5846
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      5724 non-null   int64
 1   title    5724 non-null   object
 2   writer   5724 non-null   object
 3   content  5724 non-null   object
dtypes: int64(1), object(3)
memory usage: 223.6+ KB

In [13]:
df_catch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9239 entries, 0 to 9606
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      9239 non-null   int64
 1   title    9239 non-null   object
 2   writer   9239 non-null   object
 3   content  9239 non-null   object
dtypes: int64(1), object(3)
memory usage: 360.9+ KB

In [14]:
df_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5210 entries, 0 to 5425
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      5210 non-null   int64
 1   title    5210 non-null   object
 2   writer   5210 non-null   object
 3   content  5210 non-null   object
dtypes: int64(1), object(3)
memory usage: 203.5+ KB

In [15]:
df_url.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11394 entries, 0 to 11809
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      11394 non-null  int64
 1   title    11394 non-null  object
 2   writer   11394 non-null  object
 3   content  11394 non-null  object
dtypes: int64(1), object(3)
memory usage: 445.1+ KB

---

### data 4ê°œ concat

In [16]:
result = pd.concat([df_pos,df_catch, df_type, df_url]) # 32710   # 31567
print(result.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31567 entries, 0 to 11809
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      31567 non-null  int64
 1   title    31567 non-null  object
 2   writer   31567 non-null  object
 3   content  31567 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB
None

### csv ì €ì¥ í›„ mbti_data

In [18]:
result.to_csv("../datasets/mbti_data.csv", index=False)
mbti_data = pd.read_csv('../datasets/mbti_data.csv')
mbti_data.head()

,seq,title,writer,content
0,1,ì¼ê¸°) ì£¼ë ¤ë˜ ê±´ ì•„ë‹ˆì—ˆëŠ”ë°,ì‹ ì´Œì‚¬ê³¼ì•”ì‚´ìenfj,ì—¬ìì¹œêµ¬ë„ ì‚¬ê·€ëŠ”ë°... í•œ ë²ˆë„ ë°›ì•„ë³´ì§€ ëª»í•œ ì‚¬ëŒì´ ë˜ê²Œ í•˜ê¸°ëŠ” ë„ˆë¬´ ë„ˆë¬´ ì‹«ì—ˆ...
1,2,ë¶•ì–´ë¹µ ã…‹ã…‹,ê°•ì‹ 12,ì´ì œ ë¶•ì–´ë¹µì˜ ê³„ì ˆì´ ëŒì•„ì™”ë„¤ìš” ìš”ì¦˜ ë‚ ì”¨ê°€ ì •ë§ ì¶”ì›Œì§€ë”ë¼ê³ ìš” ì–´ì œë„ ì§„ì§œ ê¹œì§ ...
2,3,ë¹¼ë¹¼ë¡œ ë¨¹ëŠ”ë‚ ğŸ¤,ì†Œë¼ê²Œ ENFJ,ì˜¤ëŠ˜ì€ ë¹¼ë¹¼ë¡œë°ì´ë„¤ìš”! 11ì›” 11ì¼!ì €ëŠ” 11ì´ë¼ëŠ” ìˆ«ìê°€ ëª¨ì–‘ì´ ì´ë»ì„œ ì¢‹ì•„í•´ìš”...
3,4,ì•„ì¹¨ìœ¼ë¡œ ë¨¹ì„ ë§˜ëª¨ìŠ¤ë¹µì„ ì‚¬ì™”ì–´ìš”.ğŸ˜‹,ì˜ˆì‚¬ì†Œë…„enfp,ë§˜ëª¨ìŠ¤ê°€ ì¼ì°ë¶€í„° ë©¸ì¢…ëœ ì´ìœ ê°€ ìˆë‹¤.í‚¥í‚¥.ìƒˆë²½ë¶€í„° ë¶€ë¦¬ë‚˜ì¼€ ë‚˜ê°€ì„œ ë§˜ëª¨ìŠ¤ë¹µì„ ì‚¬ì™”...
4,5,ë¯¸ë¼í´ ëª¨ë‹ 8ì¼ì°¨.,RDFS INTJ,ì¢‹ì€ ì•„ì¹¨ì…ë‹ˆë‹¹ì‚¬ì‹¤ ìš”ì¦˜ ë¯¸ë¼í´ ëª¨ë‹ì´ ìµìˆ™í•´ì§„ íƒ“ì¸ì§€ ê°íšŒê°€ ê·¸ë¦¬ ìƒˆë¡­ì§€ê°€ ì•Šì•„ìš”...

In [ ]:
mbti_data.tail()

In [ ]:
mbti_data.info()

### content ì¤‘ë³µ ì œê±°

In [ ]:
mbti_data['content'].nunique()

In [19]:
mbti_data = mbti_data.drop_duplicates(['content'], keep='first', ignore_index=True)

In [ ]:
mbti_data.info()

In [ ]:
mbti_data.tail()

### ì¤‘ë³µ ì œê±° í›„ ë‹¤ì‹œ csv ì €ì¥ mbti_data

In [20]:
mbti_data.to_csv("../datasets/mbti_data.csv", index=False)
mbti_data = pd.read_csv('../datasets/mbti_data.csv')
mbti_data.head()

,seq,title,writer,content
0,1,ì¼ê¸°) ì£¼ë ¤ë˜ ê±´ ì•„ë‹ˆì—ˆëŠ”ë°,ì‹ ì´Œì‚¬ê³¼ì•”ì‚´ìenfj,ì—¬ìì¹œêµ¬ë„ ì‚¬ê·€ëŠ”ë°... í•œ ë²ˆë„ ë°›ì•„ë³´ì§€ ëª»í•œ ì‚¬ëŒì´ ë˜ê²Œ í•˜ê¸°ëŠ” ë„ˆë¬´ ë„ˆë¬´ ì‹«ì—ˆ...
1,2,ë¶•ì–´ë¹µ ã…‹ã…‹,ê°•ì‹ 12,ì´ì œ ë¶•ì–´ë¹µì˜ ê³„ì ˆì´ ëŒì•„ì™”ë„¤ìš” ìš”ì¦˜ ë‚ ì”¨ê°€ ì •ë§ ì¶”ì›Œì§€ë”ë¼ê³ ìš” ì–´ì œë„ ì§„ì§œ ê¹œì§ ...
2,3,ë¹¼ë¹¼ë¡œ ë¨¹ëŠ”ë‚ ğŸ¤,ì†Œë¼ê²Œ ENFJ,ì˜¤ëŠ˜ì€ ë¹¼ë¹¼ë¡œë°ì´ë„¤ìš”! 11ì›” 11ì¼!ì €ëŠ” 11ì´ë¼ëŠ” ìˆ«ìê°€ ëª¨ì–‘ì´ ì´ë»ì„œ ì¢‹ì•„í•´ìš”...
3,4,ì•„ì¹¨ìœ¼ë¡œ ë¨¹ì„ ë§˜ëª¨ìŠ¤ë¹µì„ ì‚¬ì™”ì–´ìš”.ğŸ˜‹,ì˜ˆì‚¬ì†Œë…„enfp,ë§˜ëª¨ìŠ¤ê°€ ì¼ì°ë¶€í„° ë©¸ì¢…ëœ ì´ìœ ê°€ ìˆë‹¤.í‚¥í‚¥.ìƒˆë²½ë¶€í„° ë¶€ë¦¬ë‚˜ì¼€ ë‚˜ê°€ì„œ ë§˜ëª¨ìŠ¤ë¹µì„ ì‚¬ì™”...
4,5,ë¯¸ë¼í´ ëª¨ë‹ 8ì¼ì°¨.,RDFS INTJ,ì¢‹ì€ ì•„ì¹¨ì…ë‹ˆë‹¹ì‚¬ì‹¤ ìš”ì¦˜ ë¯¸ë¼í´ ëª¨ë‹ì´ ìµìˆ™í•´ì§„ íƒ“ì¸ì§€ ê°íšŒê°€ ê·¸ë¦¬ ìƒˆë¡­ì§€ê°€ ì•Šì•„ìš”...

In [ ]:
mbti_data.tail()

---

In [22]:
df_copy = mbti_data.copy()

In [ ]:
df_copy.info()

In [23]:
df_copy['type'] = df_copy['writer']

In [28]:
df_copy['text'] = df_copy['title'] +". "+df_copy['content']

In [29]:
df_copy['text']

0        ì¼ê¸°) ì£¼ë ¤ë˜ ê±´ ì•„ë‹ˆì—ˆëŠ”ë°. ì—¬ìì¹œêµ¬ë„ ì‚¬ê·€ëŠ”ë°... í•œ ë²ˆë„ ë°›ì•„ë³´ì§€ ëª»í•œ ì‚¬ëŒ...
1        ë¶•ì–´ë¹µ ã…‹ã…‹. ì´ì œ ë¶•ì–´ë¹µì˜ ê³„ì ˆì´ ëŒì•„ì™”ë„¤ìš” ìš”ì¦˜ ë‚ ì”¨ê°€ ì •ë§ ì¶”ì›Œì§€ë”ë¼ê³ ìš” ì–´ì œ...
2        ë¹¼ë¹¼ë¡œ ë¨¹ëŠ”ë‚ ğŸ¤. ì˜¤ëŠ˜ì€ ë¹¼ë¹¼ë¡œë°ì´ë„¤ìš”! 11ì›” 11ì¼!ì €ëŠ” 11ì´ë¼ëŠ” ìˆ«ìê°€ ëª¨ì–‘...
3        ì•„ì¹¨ìœ¼ë¡œ ë¨¹ì„ ë§˜ëª¨ìŠ¤ë¹µì„ ì‚¬ì™”ì–´ìš”.ğŸ˜‹. ë§˜ëª¨ìŠ¤ê°€ ì¼ì°ë¶€í„° ë©¸ì¢…ëœ ì´ìœ ê°€ ìˆë‹¤.í‚¥í‚¥....
4        ë¯¸ë¼í´ ëª¨ë‹ 8ì¼ì°¨.. ì¢‹ì€ ì•„ì¹¨ì…ë‹ˆë‹¹ì‚¬ì‹¤ ìš”ì¦˜ ë¯¸ë¼í´ ëª¨ë‹ì´ ìµìˆ™í•´ì§„ íƒ“ì¸ì§€ ê°íšŒ...
                               ...
25704    ë¹šì—ëª°ë¦° í•˜ìš°ìŠ¤í‘¸ì–´ ê¹¡í†µì£¼íƒ..í˜ê²¨ìš´ ì£¼ì¸ë“¤... ë¹šì—ëª°ë¦° í•˜ìš°ìŠ¤í‘¸ì–´ ê¹¡í†µì£¼íƒ..í˜...
25705    í•˜ë‚˜ì—ì˜ Form Kê²°ê³¼ (ENFPì¸ë° Tê°€ë†’ì€ ì¼€ì´ìŠ¤). ì°½ì²œë‹˜ê»˜ ì§ì ‘ ë°›ì•˜êµ¬ìš”F...
25706    3ì´ˆì˜ ì—¬ìœ ì™€ ë‹¹ì—°í•¨?. 3ì´ˆì˜ ì—¬ìœ Â ì—˜ë¦¬ë² ì´í„°ë¥¼ íƒ”ì„ ë•Œ ë‹«ê¸°ë¥¼ ëˆ„ë¥´ê¸° ì „ 3ì´ˆë§Œ...
25707    ë¡¤ëª¨ë¸ì˜ ì¥ì ì„ ì‹¤í–‰í•˜ë¼_ì˜¤ë°”ë§ˆì²˜ëŸ¼ ì—°ì„¤í•˜ê³  ì˜¤í”„ë¼ì²˜ëŸ¼ ëŒ€í™”í•˜ë¼. ë‘ ì‚¬ëŒì€ ê³µí†µì ...
25708    INTJ ë¹„ì „ì„ ì œì‹œí•˜ëŠ” ì°½ì˜ì  ë¬¸ì œí•´ê²°ì‚¬. INTJÂ ë¹„ì „ì„Â ì œì‹œí•˜ëŠ”Â ì°½ì˜ì Â ë¬¸ì œí•´...
Name: text, Length: 25709, dtype: object

In [30]:
df_copy.drop(['title', 'seq', 'content', 'writer'], axis=1, inplace=True)

In [ ]:
df_copy

### dataìµœì¢…ë³¸

In [31]:
df_copy.to_csv("../datasets/Final_MBTI_data.csv", index=False)
mbti_data = pd.read_csv('../datasets/Final_MBTI_data.csv')
mbti_data.head()

          type                                               text
0  ì‹ ì´Œì‚¬ê³¼ì•”ì‚´ìenfj  ì¼ê¸°) ì£¼ë ¤ë˜ ê±´ ì•„ë‹ˆì—ˆëŠ”ë°. ì—¬ìì¹œêµ¬ë„ ì‚¬ê·€ëŠ”ë°... í•œ ë²ˆë„ ë°›ì•„ë³´ì§€ ëª»í•œ ì‚¬ëŒ...
1         ê°•ì‹ 12  ë¶•ì–´ë¹µ ã…‹ã…‹. ì´ì œ ë¶•ì–´ë¹µì˜ ê³„ì ˆì´ ëŒì•„ì™”ë„¤ìš” ìš”ì¦˜ ë‚ ì”¨ê°€ ì •ë§ ì¶”ì›Œì§€ë”ë¼ê³ ìš” ì–´ì œ...
2     ì†Œë¼ê²Œ ENFJ  ë¹¼ë¹¼ë¡œ ë¨¹ëŠ”ë‚ ğŸ¤. ì˜¤ëŠ˜ì€ ë¹¼ë¹¼ë¡œë°ì´ë„¤ìš”! 11ì›” 11ì¼!ì €ëŠ” 11ì´ë¼ëŠ” ìˆ«ìê°€ ëª¨ì–‘...
3     ì˜ˆì‚¬ì†Œë…„enfp  ì•„ì¹¨ìœ¼ë¡œ ë¨¹ì„ ë§˜ëª¨ìŠ¤ë¹µì„ ì‚¬ì™”ì–´ìš”.ğŸ˜‹. ë§˜ëª¨ìŠ¤ê°€ ì¼ì°ë¶€í„° ë©¸ì¢…ëœ ì´ìœ ê°€ ìˆë‹¤.í‚¥í‚¥....
4    RDFS INTJ  ë¯¸ë¼í´ ëª¨ë‹ 8ì¼ì°¨.. ì¢‹ì€ ì•„ì¹¨ì…ë‹ˆë‹¹ì‚¬ì‹¤ ìš”ì¦˜ ë¯¸ë¼í´ ëª¨ë‹ì´ ìµìˆ™í•´ì§„ íƒ“ì¸ì§€ ê°íšŒ...