# mbti_data 만들기

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/긍정일기.csv')  
df1 = pd.read_csv('../datasets/신변잡기_2.csv')
df2 = pd.read_csv('../datasets/유형감별.csv')
df3 = pd.read_csv('../datasets/url_set.csv')

In [3]:
df.head()

,seq,title,writer,content
0,1,일기) 주려던 건 아니었는데,신촌사과암살자enfj,여자친구도 사귀는데... 한 번도 받아보지 못한 사람이 되게 하기는 너무 너무 싫었...
1,2,붕어빵 ㅋㅋ,강신12,이제 붕어빵의 계절이 돌아왔네요 요즘 날씨가 정말 추워지더라고요 어제도 진짜 깜짝 ...
2,3,빼빼로 먹는날🤎,소라게 ENFJ,오늘은 빼빼로데이네요! 11월 11일!저는 11이라는 숫자가 모양이 이뻐서 좋아해요...
3,4,아침으로 먹을 맘모스빵을 사왔어요.😋,예사소년enfp,맘모스가 일찍부터 멸종된 이유가 있다.킥킥.새벽부터 부리나케 나가서 맘모스빵을 사왔...
4,5,미라클 모닝 8일차.,RDFS INTJ,좋은 아침입니당사실 요즘 미라클 모닝이 익숙해진 탓인지 감회가 그리 새롭지가 않아요...

In [4]:
df_pos = df.copy()     # 5847    # 5724 
df_catch = df1.copy()  # 9607   # 9239 
df_type = df2.copy()    #  5444   # 5210 
df_url = df3.copy()    # 11812    # 11394

In [5]:
df_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      5847 non-null   int64
 1   title    5847 non-null   object
 2   writer   5847 non-null   object
 3   content  5724 non-null   object
dtypes: int64(1), object(3)
memory usage: 182.8+ KB

In [6]:
df_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11812 entries, 0 to 11811
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      11812 non-null  int64
 1   title    11812 non-null  object
 2   writer   11812 non-null  object
 3   content  11394 non-null  object
dtypes: int64(1), object(3)
memory usage: 369.2+ KB

In [7]:
df_catch.drop(['Unnamed: 0'], axis=1, inplace=True)

### content nan 제거

In [8]:
df_pos = df_pos .dropna(axis=0)

In [9]:
df_catch = df_catch .dropna(axis=0)

In [10]:
df_type  = df_type .dropna(axis=0)

In [11]:
df_url = df_url.dropna(axis=0)

In [12]:
df_pos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5724 entries, 0 to 5846
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      5724 non-null   int64
 1   title    5724 non-null   object
 2   writer   5724 non-null   object
 3   content  5724 non-null   object
dtypes: int64(1), object(3)
memory usage: 223.6+ KB

In [13]:
df_catch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9239 entries, 0 to 9606
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      9239 non-null   int64
 1   title    9239 non-null   object
 2   writer   9239 non-null   object
 3   content  9239 non-null   object
dtypes: int64(1), object(3)
memory usage: 360.9+ KB

In [14]:
df_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5210 entries, 0 to 5425
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      5210 non-null   int64
 1   title    5210 non-null   object
 2   writer   5210 non-null   object
 3   content  5210 non-null   object
dtypes: int64(1), object(3)
memory usage: 203.5+ KB

In [15]:
df_url.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11394 entries, 0 to 11809
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      11394 non-null  int64
 1   title    11394 non-null  object
 2   writer   11394 non-null  object
 3   content  11394 non-null  object
dtypes: int64(1), object(3)
memory usage: 445.1+ KB

---

### data 4개 concat

In [16]:
result = pd.concat([df_pos,df_catch, df_type, df_url]) # 32710   # 31567
print(result.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31567 entries, 0 to 11809
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seq      31567 non-null  int64
 1   title    31567 non-null  object
 2   writer   31567 non-null  object
 3   content  31567 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB
None

### csv 저장 후 mbti_data

In [18]:
result.to_csv("../datasets/mbti_data.csv", index=False)
mbti_data = pd.read_csv('../datasets/mbti_data.csv')
mbti_data.head()

,seq,title,writer,content
0,1,일기) 주려던 건 아니었는데,신촌사과암살자enfj,여자친구도 사귀는데... 한 번도 받아보지 못한 사람이 되게 하기는 너무 너무 싫었...
1,2,붕어빵 ㅋㅋ,강신12,이제 붕어빵의 계절이 돌아왔네요 요즘 날씨가 정말 추워지더라고요 어제도 진짜 깜짝 ...
2,3,빼빼로 먹는날🤎,소라게 ENFJ,오늘은 빼빼로데이네요! 11월 11일!저는 11이라는 숫자가 모양이 이뻐서 좋아해요...
3,4,아침으로 먹을 맘모스빵을 사왔어요.😋,예사소년enfp,맘모스가 일찍부터 멸종된 이유가 있다.킥킥.새벽부터 부리나케 나가서 맘모스빵을 사왔...
4,5,미라클 모닝 8일차.,RDFS INTJ,좋은 아침입니당사실 요즘 미라클 모닝이 익숙해진 탓인지 감회가 그리 새롭지가 않아요...

In [ ]:
mbti_data.tail()

In [ ]:
mbti_data.info()

### content 중복 제거

In [ ]:
mbti_data['content'].nunique()

In [19]:
mbti_data = mbti_data.drop_duplicates(['content'], keep='first', ignore_index=True)

In [ ]:
mbti_data.info()

In [ ]:
mbti_data.tail()

### 중복 제거 후 다시 csv 저장 mbti_data

In [20]:
mbti_data.to_csv("../datasets/mbti_data.csv", index=False)
mbti_data = pd.read_csv('../datasets/mbti_data.csv')
mbti_data.head()

,seq,title,writer,content
0,1,일기) 주려던 건 아니었는데,신촌사과암살자enfj,여자친구도 사귀는데... 한 번도 받아보지 못한 사람이 되게 하기는 너무 너무 싫었...
1,2,붕어빵 ㅋㅋ,강신12,이제 붕어빵의 계절이 돌아왔네요 요즘 날씨가 정말 추워지더라고요 어제도 진짜 깜짝 ...
2,3,빼빼로 먹는날🤎,소라게 ENFJ,오늘은 빼빼로데이네요! 11월 11일!저는 11이라는 숫자가 모양이 이뻐서 좋아해요...
3,4,아침으로 먹을 맘모스빵을 사왔어요.😋,예사소년enfp,맘모스가 일찍부터 멸종된 이유가 있다.킥킥.새벽부터 부리나케 나가서 맘모스빵을 사왔...
4,5,미라클 모닝 8일차.,RDFS INTJ,좋은 아침입니당사실 요즘 미라클 모닝이 익숙해진 탓인지 감회가 그리 새롭지가 않아요...

In [ ]:
mbti_data.tail()

---

In [22]:
df_copy = mbti_data.copy()

In [ ]:
df_copy.info()

In [23]:
df_copy['type'] = df_copy['writer']

In [28]:
df_copy['text'] = df_copy['title'] +". "+df_copy['content']

In [29]:
df_copy['text']

0        일기) 주려던 건 아니었는데. 여자친구도 사귀는데... 한 번도 받아보지 못한 사람...
1        붕어빵 ㅋㅋ. 이제 붕어빵의 계절이 돌아왔네요 요즘 날씨가 정말 추워지더라고요 어제...
2        빼빼로 먹는날🤎. 오늘은 빼빼로데이네요! 11월 11일!저는 11이라는 숫자가 모양...
3        아침으로 먹을 맘모스빵을 사왔어요.😋. 맘모스가 일찍부터 멸종된 이유가 있다.킥킥....
4        미라클 모닝 8일차.. 좋은 아침입니당사실 요즘 미라클 모닝이 익숙해진 탓인지 감회...
                               ...
25704    빚에몰린 하우스푸어 깡통주택..힘겨운 주인들... 빚에몰린 하우스푸어 깡통주택..힘...
25705    하나에의 Form K결과 (ENFP인데 T가높은 케이스). 창천님께 직접 받았구요F...
25706    3초의 여유와 당연함?. 3초의 여유 엘리베이터를 탔을 때 닫기를 누르기 전 3초만...
25707    롤모델의 장점을 실행하라_오바마처럼 연설하고 오프라처럼 대화하라. 두 사람은 공통적...
25708    INTJ 비전을 제시하는 창의적 문제해결사. INTJ 비전을 제시하는 창의적 문제해...
Name: text, Length: 25709, dtype: object

In [30]:
df_copy.drop(['title', 'seq', 'content', 'writer'], axis=1, inplace=True)

In [ ]:
df_copy

### data최종본

In [31]:
df_copy.to_csv("../datasets/Final_MBTI_data.csv", index=False)
mbti_data = pd.read_csv('../datasets/Final_MBTI_data.csv')
mbti_data.head()

          type                                               text
0  신촌사과암살자enfj  일기) 주려던 건 아니었는데. 여자친구도 사귀는데... 한 번도 받아보지 못한 사람...
1         강신12  붕어빵 ㅋㅋ. 이제 붕어빵의 계절이 돌아왔네요 요즘 날씨가 정말 추워지더라고요 어제...
2     소라게 ENFJ  빼빼로 먹는날🤎. 오늘은 빼빼로데이네요! 11월 11일!저는 11이라는 숫자가 모양...
3     예사소년enfp  아침으로 먹을 맘모스빵을 사왔어요.😋. 맘모스가 일찍부터 멸종된 이유가 있다.킥킥....
4    RDFS INTJ  미라클 모닝 8일차.. 좋은 아침입니당사실 요즘 미라클 모닝이 익숙해진 탓인지 감회...